# directories
.build/
.venv/
.vscode/
log/
tmp/

*~
*.bak
*.deb
*.dump
*.log
*.mo
*.[oa]
*.so
*.py[co]

# archives
*.bz2
*.gz
*.xz
*.tgz
*.zip

# media
*.avi
*.bmp
*.flv
*.gif
*.jpeg
*.jpg
*.mkv
*.mov
*.mp3
*.mp4
*.png
*.ts

tags
